<footer class="container-footer container">
  <div class="container-footer-content d-flex justify-content-between align-items-center">
    <div class="contact">
      <adress>
        2 Chemin de la briquerie 51300 Vitry-le-françois<br>
        06.43.32.53.85</br>
        mcvperformance@outlook.fr
      </adress>
    </div>
    <div>
      <a href="/cgv" class="container-footer-content--links">Conditions générales de vente</a><br>
      <a href="/mentions" class="container-footer-content--links">Mentions légales</a>
    </div>
    <div class="horaire">
      <ul class="navbar-nav">
        <li>Lundi: 08h30 - 17h00</li>
        <li>Mardi: 08h30 - 17h00</li>
        <li>Mercredi: 08h30 - 12h00</li>
        <li>Jeudi: 08h30 - 17h00</li>
        <li>Vendredi: 08h30 - 17h00</li>
        <li>Samedi: 08h30 - 12h00</li>
        <li>Dimanche: FERMÉ</li>
      </ul>
    </div>
  </div>
</footer>

