

<div class="container-offre">
  <div class="container-info-price">
      <p class="displayInfo">
          <i class="fas fa-exclamation-triangle warning"></i>
          Les prix ne sont pas mis à jour sur tous les modèles 
      </p>
      <table class="table-price">
          <p class="table-price-title">Tableau récapitulatif des prix:</p>
          <tbody>
              <tr>
                  <td colspan="3" class="">Conversion ethanol</td>
                  <td class="displayPriceEthanol cell-price">390 €</td>
              </tr>
              <tr>
                  <td colspan="3" class="">stage 1 + ethanol</td>
                  <td class="displayPriceStgEthanol cell-price">590 €</td>
              </tr>
              <tr>
                  <td colspan="3" class="">Stage 1 essence & diesel 4 cylindres</td>
                  <td class="displayPriceStg4Cyl cell-price">390 €</td>
              </tr>
              <tr>
                  <td colspan="3" class="">Stage 1 essence & diesel 6 cylindres</td>
                  <td class="displayPriceStg6Cyl cell-price">450 €</td>
              </tr>
              <tr>
                  <td colspan="3" class="">Stage 1 essence & diesel 8 cylindres</td>
                  <td class="displayPriceStg8Cyl cell-price">490 €</td>
              </tr>
              <tr>
                  <td colspan="3" class="">Stage 1 essence & diesel 10 cylindres</td>
                  <td class="displayPriceStg10Cyl cell-price">590 €</td>
              </tr>
              <tr>
                  <td colspan="3" class="">Stage 1 essence & diesel 12 cylindres:</td>
                  <td class="displayPriceStg12Cyl cell-price">690 €</td>
              </tr>
          </tbody>
      </table>
      <p>
          D'autres prestations sont disponibles, n'hésitez pas à demander un devis <br>par mail ou sur
          notre <a class="facebook-link" href="https://www.facebook.com/MCVperf">page facebook</a> 
      </p>
  </div>
  <div class="offre">
      <h2>L'offre MCV Performance</h2>
      <ul>
      <li>Prix compétitif</li>
      <li>Garantie logiciel de 2 ans</li>
      <li>Mises à jour gratuites</li>
      <li>Sauvegarde de la configuration d'origine</li>
      </ul>
      <button class="open-modal">Prendre rendez-vous</button>
  </div>
</div>


